body {
  background-color: #F2F6FF;
  font-family: 'Montserrat', sans-serif;
  min-height: unset;
}
.container {
  background-color: #FFFFFF;
  max-width: 1200px;
  margin: 30px auto 0 auto;
  text-align: center;
  padding: 10px;
}
h1 {
  font-weight: 500;
  margin-bottom: 20px;
}
h2 {
  font-weight: 400;
  opacity: 50%;
}
.time-wraper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.time-block {
  height: 200px;
}
.update-btn {
  height: 30px;
  width: 30px;
  opacity: 15%;
  cursor: pointer;
  transition: .5s;
}

.update-btn:hover {
  opacity: 100%;
}

.tb-option {
  font-weight: 500;
  font-size: 40px;
}